<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdtmaikel.coguess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_coguess"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_coguess_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.mdtmaikel.coguess.MainActivity"
            android:icon="@drawable/ic_icon_coguess_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mdtmaikel.coguess.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:textColor="#FFFFFF"
            android:parentActivityName="com.mdtmaikel.coguess.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdtmaikel.coguess.MainActivity" />
        </activity>

        <activity
            android:name="com.mdtmaikel.coguess.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.mdtmaikel.coguess.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdtmaikel.coguess.MainActivity" />
        </activity>

        <activity
            android:name="com.mdtmaikel.coguess.ManualActivity"
            android:label="@string/title_activity_manual"
            android:parentActivityName="com.mdtmaikel.coguess.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdtmaikel.coguess.MainActivity" />
        </activity>

        <activity
            android:name="com.mdtmaikel.coguess.ScoresActivity"
            android:label="@string/title_activity_scores"
            android:parentActivityName="com.mdtmaikel.coguess.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdtmaikel.coguess.MainActivity" />
        </activity>

        <activity
            android:name="com.mdtmaikel.coguess.WordSetActivity"
            android:label="@string/title_activity_wordset"
            android:parentActivityName="com.mdtmaikel.coguess.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdtmaikel.coguess.MainActivity" />
        </activity>

    </application>

</manifest>